<!DOCTYPE html>
<html>
<head>
  <title>Perceptive Media</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/loc.ico'%>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/csv/form" class="brand-logo">Perceptive Media</a>
      <a href="/csv/form" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav><br><br>

<%= yield %>

</body>
</html>
